# Data

In [84]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [85]:
import pandas as pd
import numpy as np

In [86]:
# Ubah path_file dengan lokasi file Excel yang ingin Anda baca
path_file = '/content/drive/MyDrive/pendata/Data_Tanaman_Padi_Sumatera_version_1.csv'

# Baca file Excel menggunakan Pandas
data = pd.read_csv(path_file)

# Tampilkan data
print(data)

    Provinsi  Tahun    Produksi  Luas Panen  Curah hujan  Kelembapan  \
0       Aceh   1993  1329536.00   323589.00       1627.0       82.00
1       Aceh   1994  1299699.00   329041.00       1521.0       82.12
2       Aceh   1995  1382905.00   339253.00       1476.0       82.72
3       Aceh   1996  1419128.00   348223.00       1557.0       83.00
4       Aceh   1997  1368074.00   337561.00       1339.0       82.46
..       ...    ...         ...         ...          ...         ...
219  Lampung   2016  3831923.00   390799.00       2317.6       79.40
220  Lampung   2017  4090654.00   396559.00       1825.1       77.04
221  Lampung   2018  2488641.91   511940.93       1385.8       76.05
222  Lampung   2019  2164089.33   464103.42       1706.4       78.03
223  Lampung   2020  2604913.29   545149.05       2211.3       75.80

     Suhu rata-rata
0             26.06
1             26.92
2             26.27
3             26.08
4             26.31
..              ...
219           26.45
220           26.36
221           25.50
222           27.23
223           24.58

[224 rows x 7 columns]

data saya ambil dari kaggle, ini link nya :

https://www.kaggle.com/datasets/ardikasatria/datasettanamanpadisumatera?resource=download

data tersebut berisi tentang laporan tanaman padi Sumatra, Indonesia. komponennya terdiri dari provinsi, tahun, produksi, luas panen, curah hujan, kelembapan, suhu.

type data float/desimal. diambil dari dua angka dibelakang koma.

# Preprosessing Data

In [87]:
from sklearn.preprocessing import MinMaxScaler

In [88]:
# Membuat DataFrame dari data
df = pd.DataFrame(data)

In [89]:
# hapus kolom klasifikasi
X = df.drop(columns=["Provinsi","Tahun"])

In [90]:
X

       Produksi  Luas Panen  Curah hujan  Kelembapan  Suhu rata-rata
0    1329536.00   323589.00       1627.0       82.00           26.06
1    1299699.00   329041.00       1521.0       82.12           26.92
2    1382905.00   339253.00       1476.0       82.72           26.27
3    1419128.00   348223.00       1557.0       83.00           26.08
4    1368074.00   337561.00       1339.0       82.46           26.31
..          ...         ...          ...         ...             ...
219  3831923.00   390799.00       2317.6       79.40           26.45
220  4090654.00   396559.00       1825.1       77.04           26.36
221  2488641.91   511940.93       1385.8       76.05           25.50
222  2164089.33   464103.42       1706.4       78.03           27.23
223  2604913.29   545149.05       2211.3       75.80           24.58

[224 rows x 5 columns]

In [91]:
# Melakukan Min-Max Scaling pada data suhu dan kelembapan
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(X)

In [92]:
# Membuat DataFrame baru dari data yang telah di-skala
scaled_X = pd.DataFrame(scaled_data, columns=['Produksi (Scaled)',	'Luas Panen (Scaled)',	'Curah hujan (Scaled)',	'Kelembapan (Scaled)',	'Suhu rata-rata (Scaled)'])

In [93]:
scaled_X

,Produksi (Scaled),Luas Panen (Scaled),Curah hujan (Scaled),Kelembapan (Scaled),Suhu rata-rata (Scaled)
0,0.265928,0.321700,0.265025,0.763736,0.505222
1,0.259761,0.328435,0.245023,0.767033,0.617493
2,0.276958,0.341048,0.236532,0.783516,0.532637
3,0.284445,0.352128,0.251816,0.791209,0.507833
4,0.273893,0.338958,0.210680,0.776374,0.537859
...,...,...,...,...,...
219,0.783147,0.404717,0.395339,0.692308,0.556136
220,0.836625,0.411832,0.302406,0.627473,0.544386
221,0.505504,0.554350,0.219511,0.600275,0.432115
222,0.438422,0.495262,0.280008,0.654670,0.657963
223,0.529536,0.595368,0.375281,0.593407,0.312010

In [94]:
from sklearn.decomposition import PCA

In [95]:
# Melakukan reduksi dimensi dengan PCA
pca = PCA(n_components=1)  # Menentukan jumlah komponen yang diinginkan (misalnya 1)
reduced_data = pca.fit_transform(scaled_X)

In [96]:
#  Membuat DataFrame baru dari data yang telah direduksi dimensinya
reduced_df = pd.DataFrame(reduced_data, columns=['Dimensi Baru'])

In [97]:
# Menampilkan data yang telah direduksi dimensinya
reduced_df

     Dimensi Baru
0       -0.090701
1       -0.082562
2       -0.066318
3       -0.055438
4       -0.067873
..            ...
219      0.296488
220      0.342424
221      0.243579
222      0.162130
223      0.275308

[224 rows x 1 columns]

# Modeling

In [98]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [99]:
label = []
for i in range(224):
  if i < 100:
    label.append('1')
  else:
    label.append('0')

In [100]:
reduced_df['label'] = label

In [101]:
reduced_df

     Dimensi Baru label
0       -0.090701     1
1       -0.082562     1
2       -0.066318     1
3       -0.055438     1
4       -0.067873     1
..            ...   ...
219      0.296488     0
220      0.342424     0
221      0.243579     0
222      0.162130     0
223      0.275308     0

[224 rows x 2 columns]